{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends 'OCCoreBundle::base.html.twig' %}

{% block title %}
    Liste des annonces
{% endblock %}



{% block body %}
    <h1>Liste des annonces:</h1>

    <ul>
        {% for ad in advertList %}
            <li>
                <a href="{{ path('oc_platform_view', { 'id': ad.id }) }}">
                    Lien vers l'annonce d'id {{ ad.id }}
                </a>        
            </li>
        {% endfor %}
    </ul>

    <p>
        Vous êtes à la page {{page}}
    </p>
{% endblock %}